name: Model Training and Logging

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    # Checkout code dari repository
    - name: Checkout code
      uses: actions/checkout@v2

    # Set up Python 3.8
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    # Install MLflow jika belum terpasang
    - name: Install MLflow
      run: |
        python -m pip install --upgrade pip
        pip install mlflow

    # Jalankan model training dari file modelling.py
    - name: Run the model training
      run: |
        cd MLProject
        mlflow run . \
            --env-manager=conda \
            --experiment-name="Tugas Akhir MSML" \
            -P n_estimators=100 \
            -P max_depth=25
