name: MLflow Training Workflow

on:
  push:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install Dependencies
        run: |
          pip install mlflow pandas scikit-learn matplotlib joblib seaborn dagshub

      - name: Run Training
        env:
          # Masukkan Token Dagshub lo di Settings > Secrets > Actions GitHub
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python modelling.py \
            --input_file "PRSA_Data_Aotizhongxin_preprocessing.csv" \
            --n_estimators 100 \
            --mlflow_tracking_uri "https://dagshub.com/m.ilham2408/my-first-repo.mlflow" \
            --experiment_name "Tugas Akhir MSML"
