name: CI - MLProject

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies (MLflow only)
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0
          mlflow --version

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . \
            --env-manager=conda \
            --experiment-name="Tugas Akhir MSML" \
            -P n_estimators=100 \
            -P random_state=42 \
            -P test_size=0.2 \
            -P input_file="MLProject/PRSA_Data_Aotizhongxin_preprocessing.csv"

      - name: Upload Model Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: MLProject/mlruns/
          retention-days: 30
