name: CI-MLflow
on: [push]
jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: {python-version: '3.8'}
      - name: Install
        run: pip install mlflow dagshub pandas scikit-learn matplotlib seaborn
      - name: Run
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          cd MLProject-Folder
          mlflow run . --env-manager=local
