name: CI - MLProject

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.12'
          activate-environment: mlflow-env

      - name: Install MLflow
        run: |
          pip install mlflow==2.19.0
          mlflow --version

      - name: Run MLflow Project
        run: |
          cd MLProject/MLProject
          mlflow run . \
            --env-manager=conda \
            -P input_file="PRSA_Data_Aotizhongxin_preprocessing.csv" \
            -P n_estimators=100 \
            -P random_state=42 \
            -P test_size=0.2 \
            -P mlflow_tracking_uri="your_mlflow_tracking_uri" \
            -P experiment_name="Tugas Akhir MSML"

      - name: Upload Model Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: MLProject/mlruns/
          retention-days: 30
