name: CI - Preprocessing Dataset

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install Dependencies
        run: |
          pip install pandas numpy scikit-learn imbalanced-learn

      - name: Execute Automate Script
        run: python preprocessing/automate_Muhammad-Ilham-Ar-Rahman.py

      - name: Upload Processed Data
        uses: actions/upload-artifact@v4
        with:
          name: preprocessed-csv
          path: preprocessing/namadataset_preprocessing/PRSA_Data_Aotizhongxin_preprocessing.csv
